@include at-950px {
  .hide {
    width: 100vw;
    transform: translateY(-1500px);
    transition: all 1s ease-in-out;
    z-index: 100;
    width: 90vw;
    height: 100vh;
  }

  .no-display {
    display: none;
    transition: all 4s ease-in-out;
  }
}

.arrow-animation {
  transform: translateX(10);
  transition: all 0.3s ease-in-out;
}
