.news {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  margin-top: 5rem;
  padding: 2rem 0;

  .caption {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
      font-family: $font-main;
      font-size: 46px;
      color: rgb(48, 48, 48);
    }

    p {
      text-align: center;
      font-family: $font-main;
      font-size: 25px;
    }
  }

  .cards-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;

    @include at-950px {
      flex-direction: column;
    }

    .card {
      width: 300px;
      overflow: hidden;
      border-radius: 12px;
      background-color: white;
      margin: 10px 20px;
      box-shadow: 0 1px 10px rgb(180, 178, 178);

      @include at-950px {
        margin-top: 2rem;
      }

      &:hover {
        box-shadow: 0 2px 4px black;
      }

      .card-img {
        width: 300px;
        height: 210px;
        overflow: hidden;

        &:hover {
          transform: scale(1.1);
          transition: all 0.5s ease-in-out;
        }
      }

      .card-text-wrap {
        padding: 10px;

        p {
          font-family: $font-main;
          color: rgb(99, 97, 97);

          span {
            margin-left: 20px;
          }
        }

        h2 {
          font-family: $font-main;
          font-size: 25px;
        }
      }
    }
  }
}
